@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}


body,html {
  overflow-x:hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
